@import 'variaveis';

.boas-vindas {

    background-color: rgb(223, 255, 226);
    letter-spacing: 1px;
    text-align: $center;
    padding: 50px;

    h2,
    h4,
    h5,
    p {
        font-weight: $bold;
        color: darkgreen;
    }

    h2 {
        text-transform: $uppercase;
    }

}

.texto-secao-tours {
    background: rgb(62, 5, 0);
    background: linear-gradient(90deg, rgba(62, 5, 0, 1) 0%, rgba(3, 129, 0, 1) 100%);
    padding: 20px;

    h2 {
        text-align: $center;
        font-weight: $bold;
        color: $white;
        text-transform: $uppercase;
        text-shadow: $black 2px 5px 2px;
    }
}

.secao-tours {

    padding: 30px;
    background-color: $white;

    img {
        border-radius: 20px;
        box-shadow: 5px 6px 3px rgba(0, 0, 0, 0.8);
    }

    p {
        text-align: $center;
        color: $black;
    }

}