//Colors

$white: white;
$black: black;
$green: rgb(0, 212, 0);

//Text

$bold: bold;
$uppercase: uppercase;


//Positions

$relative: relative;
$absolute: absolute;
$none: none;
$center: center;
$column: column;


//Display

$flex: flex;
$block: block;